# Inbalanced Classes
## In this lab, we are going to explore a case of imbalanced classes. 


Like we disussed in class, when we have noisy data, if we are not careful, we can end up fitting our model to the noise in the data and not the 'signal'-- the factors that actually determine the outcome. This is called overfitting, and results in good results in training, and in bad results when the model is applied to real data. Similarly, we could have a model that is too simplistic to accurately model the signal. This produces a model that doesnt work well (ever).

### Note: before doing the first commit, make sure you don't include the large csv file, either by adding it to .gitignore, or by deleting it.

In [2]:
import pandas as pd

### First, download the data from: https://www.kaggle.com/ntnu-testimon/paysim1. Import the dataset and provide some discriptive statistics and plots. What do you think will be the important features in determining the outcome?
### Note: don't use the entire dataset, use a sample instead, with n=100000 elements, so your computer doesn't freeze.

In [4]:

db = pd.read_csv('db.csv').sample(1000000)
db.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
319363,16,CASH_OUT,38410.33,C468292059,0.00,0.00,C531014066,194108.50,475014.91,0,0
4701177,331,CASH_OUT,149022.51,C1303049402,10874.00,0.00,C1881330174,0.00,149022.51,0,0
4843329,347,CASH_OUT,42670.92,C345037600,0.00,0.00,C811587677,14441248.30,14483919.22,0,0
5652462,396,CASH_IN,101365.81,C128755951,20439384.46,20540750.27,C845982902,449407.93,348042.12,0,0
2096072,182,CASH_OUT,447736.54,C43889277,15447.00,0.00,C413233576,82811.17,530547.71,0,0

In [5]:
db.type.value_counts()

CASH_OUT    350896
PAYMENT     338995
CASH_IN     219926
TRANSFER     83797
DEBIT         6386
Name: type, dtype: int64

In [7]:
db.nameDest.value_counts()

C1255024717    24
C1789550256    23
C787040724     20
C1286084959    20
C2083562754    19
               ..
M1267864302     1
M346260273      1
C567146830      1
M665382692      1
C664879025      1
Name: nameDest, Length: 648356, dtype: int64

In [9]:
db.drop(labels=['nameDest', 'nameOrig'], axis=1, inplace=True)

### What is the distribution of the outcome?

In [10]:
db.isFraud.value_counts()

0    998732
1      1268
Name: isFraud, dtype: int64

In [ ]:
# Your response here

### Clean the dataset. How are you going to integrate the time variable? Do you think the step (integer) coding in which it is given is appropriate?

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
label_cols = ['type']
db[label_cols] = db[label_cols].apply(le.fit_transform)

### Run a logisitc regression classifier and evaluate its accuracy.

In [22]:
from sklearn.model_selection import train_test_split

X = db.drop(labels='isFraud', axis=1)
y = db['isFraud']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)
acc = lr.score(X_test, y_test)*100

In [23]:
print(acc)

99.8395

### Now pick a model of your choice and evaluate its accuracy.

In [19]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)
acc = dtc.score(X_test, y_test)*100

In [20]:
print(acc)

99.95049999999999

### Which model worked better and how do you know?

In [24]:
#decison tree

### Note: before doing the first commit, make sure you don't include the large csv file, either by adding it to .gitignore, or by deleting it.